# Node.js dependencies
node_modules/

# Environment variables
.env

# Log files
*.log

# IDE-specific files
.idea/

# Build and distribution directories
dist/
build/

# OS-specific files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.swp
*.swo
